.DEMO-form-container{
  width: 500px;
  margin: 20px auto;
}
.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

.form-group .ng-invalid {
    border-left: 5px solid #a94442; /* red */
}
